body.dark-mode {
  background-color: black;
  color: white;
}

.App {
  height: 100vh;
  width: 100vw;
}

.Header {
  height: 20vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 70vh;
  line-height: 1.3em;
}

.Card img {
  height: 20%;
}

.Card ul {
  list-style: none;
}

.Footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}